@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;

}









/* Booking Section CSS*/
.booking{
    background: url("../assets/about-us.jpg");
    height: 100vh;
    width: 100vw;
}